<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Kramer Family Recipe Repository</title>
    <meta name="description" content="The Kramer family's recipe repository">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='img/k_logo_white.png'>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type = 'text/css' href='css/style.css'/>
  </head>

  <body>
    <div class="full_page_container">
    <div id="navDiv">
    <header>
      <a href="/" class="site-logo" aria-label="homepage">
        <img class = "logoPhoto" src = 'img/k_logo.png'>
      </a>
      <nav class="main-nav">
        <ul class="nav__list">
          <li class="nav__list-item">
            <a href="recipes" class="nav__link">Recipes</a>
          </li>
            <li class="nav__list-item">
              <a href="random" class="nav__link">Get Random Recipe</a>
            </li>
            <li class="nav__list-item">
              <a href="submit" class="nav__link">Submit a recipe</a>
            </li>
        </ul>
      </nav>
    </header>
    </div>
    {{{body}}}
  </div>
    <footer class = 'other_links'>
      This is where a footer would go
    </footer>
    <script>
      let logo_white = "img/k_logo_white.png";
      let logo_purple = "blog/img/k_logo.png";
    </script>
  </body>
  <script src='js/script.js'></script>
</html>
