<section class="home-intro" id='home_page_intro' >
    <img class = 'home_image' src="img/cake.jpg" alt="recipe cake home image">
    <h1 class = 'title_text'>Kramer Family Recipe Repository</h1>
</section>

<h2> Welcome to the Kramer Family Recipe Repository!</h2>
<p id='welcome_text'>
  Hello all, and welcome to the Kramer Family Recipe Repository.
  This site is a way for my family to  save and share
  all of our favorite recipes, from classic family favorites to new and
   exciting finds. Enjoy!
</p>

<h3>Came here by mistake? go to <a href = 'http://google.com'> google.com</a> instead</h3>
<h2> Some of our many dishes! </h2>

<div class="slide_container" id="main_slider">
  <button onclick = 'imgLeft()' id = "left" type="button" name="button">Left</button>
  <div class="slide_wrapper" id = 'container'>
    <img src="img/rolls.jpg" alt="First" class="showing slide" id='img' />
    <img src="img/scallops.jpg" alt="Second" class="hidden slide" />
    <img src="img/noodles.jpg" alt="third" class="hidden slide" />
    <img src="img/gingerbread.jpg" alt="fourth" class="hidden slide" />
    <img src="img/cookies.jpg" alt="fifth" class="hidden slide" />
  </div>
  <button onclick = 'imgRight()' id = "right" type="button" name="button">Right</button>
</div>
