<section class="page_intro" id='recipes_intro' >
    <h1 class = 'page_title_text'>Find a random recipe</h1>
</section>

<h2> Click the spinner to find a recipe in a random recipe collection!</h2>
<div id="spinner_container">
    <h2 id="random_answer"></h2>
  <img id = 'spinner' src="img/spinner.png" alt="random spinner">
</div>
 <script src="js/random.js" defer></script>
