<section class="page_intro" id='recipes_intro' >
    <h1 class = 'page_title_text'>Contribute to our recipe base!</h1>
</section>
<h2 class = 'submit_header'>Think you have a recipe that belongs on the recipe repository? Submit it below!</h2>

<form id="submit_form" action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post">
  <fieldset>
    <label for="ingredients">What do you call your recipe?</label>
    <br>
    <input class = 'text_input' type="text" name="name" value="Name">
    <br>
    <label for="ingredients">List the ingredients here</label>
    <br>
    <input class = 'text_input' type="text" name="ingredients" value="Ingredients">
    <br>
    <label for="ingredients">List the Instructions here</label>
    <br>
    <input class = 'text_input' type="text" name="instructions" value="Instructions">
    <br>
    <input class = 'submit' type="submit" value="submit recipe">
  </fieldset>

</form>
